*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

h1,
h2 {
  line-height: 1;
}

h1 {
  font-size: 2.8rem;
  margin: 0 0 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0 0;
}

p {
  margin: 0;
}

/* Media objects */
.media {
  display: flex;
  align-items: center;
}

.media__image {
  width: 40px;
  height: 40px;
  border: 1.5px solid #fff;
  border-radius: 100%;
}

.media__content {
  margin-left: 1rem;
}

/* Chat */
.chat {
  border-radius: 30px;
  overflow: hidden;
  border: 10px solid #fff;
  box-shadow: 0 0 30px 20px hsl(270 20% 91%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
}

.chat__top {
  padding: 1.5rem 8rem;
  background: #fff;
  border-radius: 30px;
  position: absolute;
  top: -10px;
}

.chat__header {
  padding: 2.5rem 1.5rem 1rem;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%) 25%,
    hsl(293, 100%, 63%)
  );
}

.chat__body {
  padding: 1.5rem;
  background: hsl(270 20% 96%);
}
