<section class="chat">
  <div class="chat__top"></div>
  <header class="chat__header">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ea, iste ad
      cumque temporibus commodi?
    </p>
  </header>
  <div class="chat__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat a
    debitis quia, animi expedita, ad impedit iure totam error molestias labore,
    laudantium veniam. Cupiditate quia eaque dolor ex eius. Perferendis officiis
    aliquid mollitia atque corporis, illo dolor esse repellendus quas? Sunt
    atque animi ducimus qui? Expedita vel sapiente illum.
  </div>
</section>
