<section class="chat">
  <div class="chat__top"></div>
  <header class="chat__header">
    <div class="chat__media">
      <i class="fa-solid fa-chevron-up icon icon--rotated-left"></i>
      <div class="media">
        <img class="media__image" src="images/avatar.jpg" alt="" />
        <div class="media__content">
          <h2>Samuel Green</h2>
          <p>Available to Walk</p>
        </div>
      </div>
    </div>
    <i class="fa-solid fa-ellipsis-vertical icon"></i>
  </header>
  <div class="chat__body">
    <div class="text text--left">
      <p>That sounds great. I'd be happy to discuss more.</p>
    </div>
    <div class="text text--left">
      <p>Could you send over some pictures of your dog, please?</p>
    </div>
    <div class="text--right-container">
      <div class="text__image-container">
        <img class="text__image" src="images/dog-image-1.jpg" alt="" />
        <img class="text__image" src="images/dog-image-2.jpg" alt="" />
        <img class="text__image" src="images/dog-image-3.jpg" alt="" />
      </div>
      <div class="text text--right">
        <p>Here are a few pictures. She's a happy girl!</p>
      </div>
      <div class="text text--right">
        <p>Can you make it?</p>
      </div>
    </div>
    <div class="text text--left">
      <p>
        She looks so happy! The time we discussed works. How long shall I take
        her out for?
      </p>
    </div>
    <div class="pricing">
      <div class="pricing__header">
        <input class="pricing__radio" type="radio" />
        <p class="pricing__text">30 minutes walk</p>
      </div>
      <p class="pricing__bill">$29</p>
    </div>
    <div class="pricing">
      <div class="pricing__header">
        <input class="pricing__radio" type="radio" />
        <p class="pricing__text">1 hour walk</p>
      </div>
      <p class="pricing__bill">$49</p>
    </div>
    <div class="input-group">
      <input class="input" type="text" placeholder="Type a message" />
      <span class="icon-container"
        ><i class="fa-solid fa-chevron-up icon icon--rotated-right"></i>
      </span>
    </div>
  </div>
</section>
